@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
:root{
    --blanco1: rgba(255,255,255,0.3);
    --blanco2: rgba(255,255,255,0.7);
    --cafe: #803b17;
    --buttonColor: rgb(121, 25, 1);
    --negro1: rgba(0,0,0,0.15);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}

body{
    background-image: url(../../Fondo/Mesero/FONDOAAA.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    min-height: 72vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        width: 100px;
        height: auto;
        background-color: var(--negro1);
        border-radius: 50%;
        padding: 10px;
        &:hover{
            transform: scale(1.02);
            transition: 0.3s;
        }
    }
    ul li{
        list-style: none;
    }
    h2{
        text-align: center;
        background-color: rgba(0,0,0,0.25);
        padding: 15px;
        border-radius: 20px;
        text-shadow: 2px 0 0 #9f4c1b;
        color: white;
    }
    h3{
        background-color: rgba(0,0,0,0.15);
        text-align: center;
        color: white;
        padding: 15px;
        border-radius: 20px;
        font-weight: bold;
    }
}

.container{
    width: 70%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.2);
    padding: 20px;
    border-radius: 20px;

    .buscador{
        width: 100%;
        margin: 1em 0;
        display: flex;
        align-items: center;
        justify-content: center;

        form{
            display: flex;
            align-items: center;

            input{
                max-width: 800px;
                text-align: end;
                border-radius: 20px 1px 1px 20px;
                padding: 1em;
                border: none;
                border: 1px solid #803b17;
                border-right: none;
                background-color: rgba(255,255,255,0.7);
            }
            button{
                border-radius: 0 20px 20px 0;
                width: 50px;
                height:45px;
                padding: 1em;
                border: none;
                border: 1px solid #803b17;
                border-left: none;
                background-color: rgba(255,255,255,0.7);
                img{width: 100%; height: 100%;}
            }
        }
    }
}

table{
    width: 70%;
    margin: 0 auto;
    background-color: var(--blanco2);
    border-collapse: collapse;
    text-align: center;
    border-color: black;
    thead{
        font-weight: 700;
    }
    th{
        background-color: #9f4c1b;
        color: white;
        padding: 10px;
        font-weight: bold;
    }
    td{
        padding: 10px;
    }

    button{
        width: 30px;
        height: 30px;
        padding: 5px;
        background-color: transparent;
        border: none;
        img{
            width: 100%;
        }
        &:hover{
            transition: background-color 0.3s ease;
            transform: translateY(-1.2px);
        }
    }
}
.botonescontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .volver{
        text-align: center;
        text-decoration: none;
        padding: 10px;
        width: 100px;
        background-color: var(--buttonColor);
        color: white;
        border: 0;
        border-radius: 20px;
        font-size: 14px;
    }
    .volver:hover{background-color: #000; color: white;} 
}

#dropdown-content {
    display: none;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1;
    width: 200px;
    margin-top: 5px;
    top: 20%;
    left: 3%; 
    color: #000; 
}

h3 {
    cursor: pointer;
    font-size: 25px;
    margin-left: 20px;
}

ul {
    list-style-type: none; 
    padding: 0;            
    margin: 0;             
}

ul li {
    padding: 8px 0;
}

ul li a {
    text-decoration: none;
    color: #007bff;
}

ul li a:hover {
    text-decoration: underline;
}